@import "vars.scss";

.features {
  h4 {
    margin-bottom: 1.2rem;
  }
}

.newsletterSignupForm {
  display: grid;
  grid-template-columns: 200px 120px 200px 120px;
  margin-top: 1.2rem;
  grid-gap: 2.5rem;
  margin-bottom: 1rem;
}

.newsletterRow {
  min-height: 300px;
}

.newsletterSignupTitle {
  h1 {
    margin-bottom: $header-mb;
  }
}

.remainingQuestionsContainer {
  display: grid;
  grid-template-columns: 200px 120px;
  grid-gap: 2.5rem;
  align-items: center;
}

.joinUsHeader {
  text-align: center;
  margin-bottom: 2rem;
}

.showcaseItemHeaderText {
  display: flex;
  align-items: center;
  height: 48px;
  text-align: center;

  h4 {
    margin-left: 0.4rem;
  }
}

.introductionContainer {
  display: grid;
  grid-template-columns: auto min-content;
  grid-gap: 2rem;
  align-items: center;
  justify-content: space-between;
}

.introductionTextTitle {
  margin-bottom: 1rem;
}

.headerRow {
  //background: linear-gradient(150deg, rgb(0, 13, 41) 15%, #0571ff 70%, #a6ffcb 94%);
}

.headerPatternBg {
  background: #dfeaff url("/site/static/bg.png") 0 0 / cover no-repeat;
}
