.tablet1 {
  box-shadow: rgba(50, 50, 93, 0.5) 37.2px 62.5px 125px -25px,
    rgba(0, 0, 0, 0.2) 22.3px 37.5px 75px -37.5px;
  transform: translate(150%, -50%) rotate3d(0.5, -0.94, 0, 11deg)
    rotateZ(7deg);
  position: absolute;
  border-radius: 8px;
  img {
    width: 350px;
	}
	z-index: 1;
}

.tablet2 {
  box-shadow: rgba(50, 50, 93, 0.5) 37.2px 62.5px 125px -25px,
    rgba(0, 0, 0, 0.2) 22.3px 37.5px 75px -37.5px;
  transform: translate(100%, -50%) rotate3d(0.5, -0.94, 0, 11deg)
    rotateZ(0deg);
  position: absolute;
  border-radius: 8px;
  img {
    width: 400px;
	}
	z-index: 1;
}
